---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}

cart: true
gql: "query GenerateProductQuery($productId: Int!) {
    site {
        product(entityId: $productId) {
            entityId
            variants(first:2) {
                edges {
                    node {
                        sku
                        entityId
                        isPurchasable
                    }
                }
            }
            productOptions(first: 1) {
                edges {
                    node {
                        entityId
                    }
                }
            }
        }
    }
}"
---
{{#partial "page"}}
{{inject 'customFields' product.custom_fields}}
{{inject 'categories' product.category}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product" class="product__wrap">
        {{> components/products/product-view schema=true  }}

        <div class="klevu-recs" id="k-4b3f55e4-3e7b-4811-9a66-fec4bd00f1f2"></div>
        <style>
            .kuRECSContainer .kuRECSResultsInner a.kuRECSTitle {
                white-space: normal !important;
                padding-left: 0 !important;
            }
        </style>

        <div class="productSpecifications__shipping">
            <h2 class="productSpecifications__shipping--title">Free Shipping on Purchases Over $39.99</h2>
            <p class="productSpecifications__message">
                {{#if cart.sub_total.value '>=' 50}}
                    Your cart currently qualifies for free shipping!
                {{else}}
                    Spend only ${{toFixed (subtract 39.99 cart.sub_total.value) 2 }} more to qualify!
                {{/if}}
            </p>
        </div>
        


        <section class="productSimilar">
            <h2 class="product--subtitle"><span>Find Similar Products</span></h2>
            <div class="productSimilar__wrap">
                <div class="productSimilar__section">
                    <h3 class="productSimilar__title">Search by Collection</h3>
                    <a href="/search.php?search_query_adv={{product.title}}" title="Shop by Collection" class="button button-black">SEARCH</a>
                </div>
                <div class="productSimilar__section">
                    <h3 class="productSimilar__title">Search by Finish/Color</h3>
                    <a href="/search.php?search_query_adv={{product.title}}" title="Shop by Collection" class="button button-black">SEARCH</a>
                </div>
            </div>
        </section>
        {{> components/products/reviews reviews=product.reviews product=product urls=urls}}

        {{#if product.similar_by_views}}
        <section class="productRecent">            
            <h2 class="product--subtitle"><span>Recently Viewed Products</span></h2>
            {{> components/products/carousel products=product.similar_by_views columns=5 list="Customers Also Viewed"}}
        </section>
        {{/if}}

    </div>
{{/partial}}
{{> layout/base}}
